/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #e13a3a;
  --ifm-color-primary-dark: #bf5050;
  --ifm-color-primary-darker: #983939;
  --ifm-color-primary-darkest: #e85e5e;
  --ifm-color-primary-light: #f87979;
  --ifm-color-primary-lighter: #f8a9a9;
  --ifm-color-primary-lightest: #fccccc;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #f65c5c;
  --ifm-color-primary-dark: #c76f6f;
  --ifm-color-primary-darker: #a74242;
  --ifm-color-primary-darkest: #af1e1e;
  --ifm-color-primary-light: #f6a0a0;
  --ifm-color-primary-lighter: #fbc7c7;
  --ifm-color-primary-lightest: #f8cdcd;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
